##############################################################################
##
##  This file is part of the Chaos Kernel, and is made available under
##  the terms of the GNU General Public License version 2.
##
##  Copyright (C) 2017 - Benjamin Grange
##
##############################################################################

# Outputs
build/
*.iso
*.gch
*.o
*.d
*.a
*.so

# Editor
*~
*.swp
*#
*.vim
.syntastic_c_config
